@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--blue: #6197F2;
	--blue-hover: #365587;
	--yellow: #FFE169;
	--black: #222430;
	--gray: #C1CFE8;
	--white: #ffffff;
}

* {
	box-sizing: border-box;
	font-family:  "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.header {
	grid-column: 2 / 5;
	background: var(--white);
	box-shadow: 0 3px 5px var(--black);
	padding: 12px 80px 12px 30px;
	display: grid;
	gap: 32px;
}

.header-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.search-container {
	display: flex;
	gap: .5em;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	font-size: 20px;
}

input {
	width: 40vw;
	height: 32px;
	border-radius: 20px;
	border: none;
	padding: 4px 16px;
	background: var(--gray);
}

.user-icons {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 20px;
	font-weight: 600;
}

img {
	border-radius: 50%;
}

img[src="./assets/images/avatars/avatar.png"]{
	background-color: var(--yellow);
}

.user-icons img {
	width: 50px;
}

.profile-info
{
	display: flex;
	align-items: center;
	gap: 16px;
	font-weight: 600;
}

.profile-info img {
	width: 90px;
}

.profile-name .name {
	font-size: 25px;
}

.actions-buttons {
	display: flex;
	gap: 30px;
}

.actions-buttons .actions-button {
	border: none;
	padding: 10px 20px;
	background: var(--blue);
	color: var(--white);
	font-weight: 600;
	border-radius: 20px;
	cursor: pointer;
}

.actions-buttons .actions-button:hover {
	background: var(--blue-hover);
}

.sidebar {
	grid-column: 1 / 2;
	/* grid-row: 1 / 3;
	background: var(--blue);
	display: grid;
	padding: 12px 0 0 12px; */
}

.main-content {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
	background: var(--gray);
	padding: 30px;;
}

.projects-container {
	display: grid;
	grid-column: 1/2;
	gap: 20px;
}

.section-title {
	font-weight: 600;
	font-size: 25px;
}

.project-list {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-info {
	background: var(--white);
	border-left: 10px solid var(--yellow);
	padding: 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.icons-projects {
	font-size: 20px;
	display: flex;
	gap: 20px;
	justify-content: end;
}

.riht-container {
	display: grid;
	grid-column: 2/3;
	grid-row: 1 / 3;
	gap: 20px;
}

.announcements {
	display: grid;
	gap: 20px;
	font-size: 14px;
}

.announcements-section {
	background: var(--white);
	padding: 25px;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.announcements-content:not(:last-child){
	border-bottom: 1px solid var(--black);
	padding-bottom: 20px;
}

.announcements-content p:first-child {
	font-weight: 600;
}

.project-title {
	font-weight: 600;
}

.trending {
	display: grid;
	font-size: 14px;
	gap: 20px;
}

.trending-section {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background: var(--white);
	padding: 20px;
	border-radius: 15px;
}

.trending-content {
	display: flex;
	align-items: center;
	gap: 15px;
}

.trending-content img {
	width: 50px;
}

img[src="./assets/images/avatars/dmario.png"]
{
	background: var(--gray);
}

img[src="./assets/images/avatars/joana.png"]
{
	background: var(--blue);
}

img[src="./assets/images/avatars/owl.png"]
{
	background: var(--yellow);
}

img[src="./assets/images/avatars/gpt.png"]
{
	background: var(--blue);
}

.profile-trending p {
	color: var(--black);
}