@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--blue: #6197F2;
	--blue-hover: #365587;
	--yellow: #FFE169;
	--black: #222430;
	--gray: #C1CFE8;
	--white: #ffffff;
}

* {
	box-sizing: border-box;
	font-family:  "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.header {
	grid-column: 2 / 5;
	background: var(--white);
	box-shadow: 0 3px 5px var(--black);
	padding: 12px 80px 12px 30px;
	display: grid;
	gap: 32px;
}

.header-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.search-container {
	display: flex;
	gap: .5em;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	font-size: 20px;
}

input {
	width: 40vw;
	height: 32px;
	border-radius: 20px;
	border: none;
	padding: 4px 16px;
	background: var(--gray);
}

.user-icons {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 20px;
	font-weight: 600;
}

img {
	border-radius: 50%;
}

img[src="./assets/images/avatars/avatar.png"]{
	background-color: var(--yellow);
}

.user-icons img {
	width: 50px;
}

.profile-info
{
	display: flex;
	align-items: center;
	gap: 16px;
	font-weight: 600;
}

.profile-info img {
	width: 90px;
}

.profile-name .name {
	font-size: 25px;
}

.actions-buttons {
	display: flex;
	gap: 30px;
}

.actions-buttons .actions-button {
	border: none;
	padding: 10px 20px;
	background: var(--blue);
	color: var(--white);
	font-weight: 600;
	border-radius: 20px;
	cursor: pointer;
}

.actions-buttons .actions-button:hover {
	background: var(--blue-hover);
}

